# Environments
.env
.env.*
!.env.example

# Dependencies
node_modules/
dist/
build/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.coverage
.mypy_cache/
.ruff_cache/

# Large Data & Local Folders
data/raw/
data/raw_backup/
augmented_data/
scratch/
*.xlsx
*.csv
*.sqlite3
*.db

# ML Models & Processed Data
ml_engine/saved_models/*.joblib
data/processed/

# System / IDE
.vscode/
.idea/
.qodo/
.DS_Store
Thumbs.db
*.bak
*.tmp
*.log

